html {
    min-height: 100%;
  }
  
  footer {
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 97%;
    height: 40px;
  }
  a{
      text-decoration: none;
      color: rgba(0,0,0,.54);

  }
 
 ul{
      text-decoration: none;
  }

  li{
    color: grey;
}
*{
    font-family: Arial, Helvetica, sans-serif !important;
}
.header{
    display: inline;
}
.nav-header > a{
    color: #5F6368;
}
.my-cuadricula{
    background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png')
}

.my-box-menu{
text-align: end;
}
nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-items: center;
    gap: 15px;
    margin: 16px 30px 0px;
}

.my-container{
    text-align: center;
    padding-top: 12%;
}
.my-container_search > input{
    border-radius: 10px;
}
.mith-solid{
    width: 17px;
    height: 17px;
}
    .iniciar_sesion{
        border: 1px solid #4285f4;
    background: #4285f4;
    color: white;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-weight: bold;
    width: auto;
    cursor: pointer;
    }
 .my-container_search-lupa::after { 
    content: "\f002"; 
    font-family: FontAwesome; 
    display: inline-block;
    position: relative;
    cursor: pointer;

  } 
   .icon-apps::before{
    content: "\f002"; 
  } 
  .my-container_search-voz::after { 
    content: "\f130"; 
    font-family: FontAwesome; 
    display: inline-block;
    position: relative;
    cursor: pointer;

  }
  .my-container_search > .bar-body{
   display: grid;
    grid-template-columns: 52px 480px 52px;
    grid-template-rows: 46px;
    grid-template-areas: " lupa caja micro";
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
  }

  .my-container_search-lupa{
    grid-area: lupa;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #dfe1e5 solid 1px;
    border-right: none;
    color: #9AA0A6;
    border-radius: 100px 0px 0px 100px;
    box-shadow: -17px 10px 39px -20px rgba(0,0,0,0.46);
  }
  .my-container_search-voz{
    grid-area: micro;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #dfe1e5 solid 1px;
    border-left: none;
    border-radius: 0px 100px 100px 0px;
     box-shadow: 17px 10px 39px -20px rgba(0,0,0,0.46);
  }

  .my-container_search-bq{
    border: #dfe1e5 solid 1px;
    border-right: none;
    border-left: none;
    padding: 14px;
  }
  input{
      border:none;
      width: 100%;
      height: 100%;
  }

  input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
  .botones-busqeda{
      display: flex;
      padding-top:18px;
      align-items: center;
      justify-content: center;
      font-size: small;
  }
  .menu-footer{
      display: flex;
      justify-content: space-between;
  }

  .buscar, .buscar2{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    width: 153.7px;
    height: 36px;
    margin: 11px 4px;
    padding: 0 10px;
    font-size: 14px;
    font-stretch: 100%;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    cursor: pointer;
  }
  .menu-pais{
    padding-top: 20px;  }
  .menu-pais{
    font-size: 13px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
    height: 25px;
    width: 100%;
    display: flex;
    position: relative;
    padding-left: 30px;
    border-top: 1px solid #e4e4e4;
  }
  .menu-footer > a{
    color: rgba(0,0,0,.54) !important;

  }
  .menu-footer{
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    height: 35px;
    width: 102%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-top: 1px solid #e4e4e4;
    font-size: 13px;
  }
  .menu-footer-L{
    margin-left: 15px; 
    
  }
  .menu-footer-R{
    margin-right: 30px; 
  }
  .menu-footer-L > a{
      padding-left: 15px;
  }
  .menu-footer-R > a{
    padding-left: 15px;
}